<nav class="main">
	<div class="wrapper">
		<%= image_tag 'wwf-logo.png'%>
		<ul class="wrapper--flex menu--main">
			<% @main_menus.each do |main_menu| %>
				<li class="item--main"><%= link_to main_menu.title, url_for(main_menu.link), :target => "_blank" %>
					<ul class="menu--sub">
						<% main_menu.sub_menus.each do |sub_menu| %>
							<li><%= link_to sub_menu.title, url_for(sub_menu.link), :target => "_blank" %></li>
						<% end%>
					</ul>
				</li>
			<% end %>
		</ul>
	</div>
</nav>

<h2>Header</h2>
<h2><span class="count"><%= @header.number %></span>  </h2>
<h4><%= @header.tag_line %></h4>

<section class="about wrapper">
	<p><%= simple_format(@header.about) %></p>	
</section>

<section class="stories wrapper">
	<h2>Stories</h2>
	<% if @featured_story.present? %>
		<h3>Featured Story</h3>
		<h4><%= @featured_story.title %></h4>
		<p><%= simple_format(@featured_story.description) %></p>
		<%= link_to @featured_story.title, url_for(@featured_story.link), :target => "_blank"  %>
	<% end %>
	<div class="wrapper--flex">
		<% @stories.each do |story| %>
			<div class="col--three">
				<h4><%= story.title %></h4>
				<p><%= simple_format(story.description) %></p>
				<%= link_to story.title, url_for(story.link), :target => "_blank" %>		
			</div>
		<% end %>
		
	</div>	
</section>

<section class="social">
	<h2>#WeCountForNature</h2>

	<div class="wrapper wrapper--flex">
		<% @socials.each_with_index do |social, index| %>
			<div class="col--five">
				<% if index.modulo(2).zero? %>
					<% if social.present? %>
						<p><%= Rinku.auto_link(social.text, :all, 'target="_blank"').html_safe %></p>
					<% end %>
				<% else %>
					<% if social.present? %>
						<%= image_tag social.image_url %>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</section>

<section class="wp-blog wrapper">
	<h2>Blogs</h2>
		<% @blogs.each do |blog| %>
		<div class="wrapper--flex">
			<div class="col--two">
				<% if blog.photo.present? %>
				  <%= image_tag blog.photo.url('header') %>
				<% else %>
				  <%= image_tag blog.image_url %>
				<% end %>
			</div>
			<div class="col--two">
				<p><%= blog.title %></p>
				<p><%= blog.author %></p>
				<p><%= blog.date.strftime("%B %d, %Y") %></p>
				<p><%= blog.short_description.html_safe %></p>
				<p><%= Rinku.auto_link(blog.link, :all, 'target="blank"').html_safe %></p>
			</div>
		</div>
		<% end %>
</section>

<section class="featured-donor">
	<h2>Featured Donor</h2>
	<% if @featured_donor.present? %>
		<div class="wrapper wrapper--flex">
			<div class="col--two">
				<h4><%= @featured_donor.title %></h4>
				<p><%= simple_format(@featured_donor.short_description) %></p>
				<%= link_to @featured_donor.title, url_for(@featured_donor.link), :target => "_blank" %>
			</div>
			<div class="col--two">
				<%= image_tag @featured_donor.photo.url %>
			</div>
		</div>
	<% end %>
</section>

<section class="generic-stories wrapper">
	<h2>Generic Stories</h2>
	<div class="wrapper--flex">	
		<% @generic_stories.each do |gstory| %>
			<div class="col--three">
				<h4><%= gstory.title %></h4>
				<p><%= simple_format(gstory.short_description) %></p>
				<%= link_to gstory.title, url_for(gstory.link), :target => "_blank" %>
			</div>
		<% end %>
	</div>
</section>


<script>
	$(function(){
		$('.item--main').on('mouseenter', function(){
			$(this).find('a').addClass('active');
			$(this).find('.menu--sub').addClass('active');
		});
		$('.item--main').on('mouseleave', function(){
			$(this).find('a').removeClass('active');
			$(this).find('.menu--sub').removeClass('active');
		});
	});
	commaSeparateNumber = function(val){
	   	while (/(\d+)(\d{3})/.test(val)){
	     	val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
	   }
	   return val;
	 }

	$('.count').each(function () {
	    $(this).prop('Counter',0).animate({
	        Counter: $(this).text()
	    }, {
	        duration: 12000,
	        easing: 'swing',
	        step: function (now) {
	            $(this).text(commaSeparateNumber(Math.ceil(now)) );
	        }
	    });
	});


</script>


