<nav class="main">
	<div class="wrapper clearfix">
		<%= image_tag 'wwf-logo.png'%>
		<a href="#" class="main--toggle">
			<span></span>
		</a>
		<ul class="wrapper--flex menu--main">
			<% @main_menus.each do |main_menu| %>
				<li class="item--main"><%= link_to main_menu.title %>
					<ul class="menu--sub">
						<% main_menu.sub_menus.each do |sub_menu| %>
							<li class="item--sub"><%= link_to sub_menu.title, url_for(sub_menu.link), :target => "_blank" %>
								<% if sub_menu.description.present? %>
								<div class="menu--sub-desc">
									<p><%=sub_menu.description%></p>
								</div>
								<% end %>
							</li>
						<% end%>
					</ul>
				</li>
			<% end %>
		</ul>
	</div>
</nav>
<div class="header hidden">
	<div class="video-container" data-image= "<%= image_url('video-image.jpg')%>"=>
		<video poster="<%= image_url('video-image.jpg')%>" id="bgvid" loop preload="none">
		
		<!-- <source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm"> -->
		<source src="http://natcooper.com/staging/wwf/img/we-are-all-wildlife-pg.mp4" type="video/mp4">
		</video>
		<div class="header-text hidden">
			<h2 class="hidden sub-title-01"><span class="count"><%= @header.number %></span></h2>
			<h3 class="hidden sub-title-02"><%= @header.tag_line %></h3>	
			<a href="#count-for-nature" class="hidden sub-title-03 button button--primary">I Count For Nature</a>
			<%= image_tag 'down-arrow.svg', class: "hidden sub-title-03" %>
		</div>
	</div>
</div>

<div class="content-wrapper">
	
	<section class="about wrapper">
		<p><%= simple_format(@header.about) %></p>	
	</section>

	<section class="stories wrapper">
		<h2 class="title"><%= @stories_title.title%></h2>
		<% if @featured_story.present? %>
			<div class="featured-story">
				<h3 class="featured-title"><%= @featured_story.title %></h3>
				<div class="wrapper--flex stories--flex">
					<div class="col--two">
						<%= simple_format(@featured_story.description) %>
					</div>
					<div class="col--two">
						<%= image_tag @featured_story.photo.url %>
					</div>
				</div>
				<%= link_to 'read more ▸', url_for(@featured_story.link), :target => "_blank", class: 'button button--secondary button--inverted'  %>
			</div>
		<% end %>
		<div class="wrapper--flex">
			<% @stories.each do |story| %>
				<div class="col--three-margin story">
					<div class="story--photo" style="background-image: url(<%= story.photo.url %>)"></div>
					<h3 class="story-title"><%= story.title %></h3>
					<%= link_to 'read more ▸', url_for(story.link), :target => "_blank", class: 'button button--secondary button--inverted' %>		
				</div>
			<% end %>
			
		</div>
	</section>
	<div class="section">
		<div class="center-text">
			<a href="#count-for-nature" class="button button--primary">I Count For Nature</a>
		</div>
	</div>

	<section class="social">
	<h2 class="title"><%= @title_blog.title%></h2>
	<div class="hashtag">	
		<h2 class="center-text">#WeCountForNature</h2>
		<p class="center-text"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></p>
	</div>

		<div class="wrapper--flex">
			<% @socials.each_with_index do |social, index| %>
				<div class="social-element col--five">
					<% if index.modulo(2).zero? %>
						<% if social.present? %>
							<div class="tweet">
								<p ><%= Rinku.auto_link(social.text, :all, 'target="_blank"').html_safe %></p>
							</div>
						<% end %>
					<% else %>
						<% if social.present? %>
							<div class="instagram" style="background-image: url(<%= social.image_url %>)">
							</div>
						<% end %>
					<% end %>
				</div>
			<% end %>
	</section>

	<section class="wp-blog wrapper">
			<% @blogs.each do |blog| %>
			<div class="wrapper--flex">
				<div class="col--two">
					<% if blog.photo.present? %>
					  <%= image_tag blog.photo.url %>
					<% else %>
					  <%= image_tag blog.image_url %>
					<% end %>
				</div>
				<div class="col--two">
					<h3><%= blog.title %></h3>
					<p><span class="author"><%= blog.author %></span> <span class="seperator">•</span> <span class="date"><%= blog.date.strftime("%B %d, %Y") %></span></p>
					<p><%= blog.short_description.html_safe %></p>
					<%= link_to 'Read More ▸' , url_for(blog.link), :target => "_blank", class: "button button--secondary" %>
				</div>
			</div>
			<% end %>
	</section>

	<section class="featured-donor">
		<% if @featured_donor.present? %>
			<div class="wrapper">
				<h3><%= @featured_donor.title %></h3>
			</div>
			<div class="wrapper wrapper--flex">
				<div class="col--two donor">
					<%= simple_format(@featured_donor.short_description) %>
				</div>
				<div class="col--two donor">
					<%= image_tag @featured_donor.photo.url %>
				</div>
			</div>
			<div class="wrapper">
				<%= link_to 'Donate Now ▸', url_for(@featured_donor.link), :target => "_blank", class: "button button--secondary" %>
				
			</div>
		<% end %>
	</section>

	<section id="count-for-nature">
		<h1>the form</h1>
	</section>

	<section class="generic-stories wrapper">
		<h2 class="title"><%=  @generic_stories_title.title%></h2>
		<div class="wrapper--flex">	
			<%= image_tag 'left-arrow-black.svg', class: 'arrow arrow-left'%>
			<% @generic_stories.each do |gstory| %>
				<div class="col--three-margin generic-story">
					<h4><%= gstory.title %></h4>
					<!-- <div class="description"> -->
						<div class="description"><%= simple_format(gstory.short_description) %></div>
					<!-- </div> -->
					<%= link_to 'read more ▸', url_for(gstory.link), :target => "_blank", class: 'button button--secondary' %>
				</div>
			<% end %>
			<%= image_tag 'right-arrow-black.svg', class: 'arrow arrow-right'%>
		</div>
	</section>

	<nav class="footer">
		<div class="wrapper wrapper--flex">
			<%= image_tag 'wwf-logo-footer.svg'%>
			<div class="copy">
				<h4>Building a future in which people and nature thrive.</h4>
				<p>© All photos, graphics and images on this site remain the copyright of WWF, unless otherwise noted, and should not be downloaded without prior permission. © 2011 WWF-Canada; © 1986 Panda symbol WWF-World Wide Fund For Nature (also known as World Wildlife Fund); ® "WWF" and "living planet" are WWF Registered Trademarks. Charitable Reg.#11930 4954 RR0001.</p>
			</div>
			<div class="social-links wrapper--flex">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
			</div>
		</div>
	</nav>
</div>


<script>
	// $(document).on('ready page:load',function(){
		
		var vid = document.getElementById("bgvid");
		var pauseButton = document.querySelector("#polina button");
		var windowSize = $(window).innerWidth();

		$('.main').removeClass('hidden')
			$('.header').removeClass('hidden').hide().fadeIn(300, function(){
				$('.header-text').removeClass('hidden').hide().fadeIn(1000, function(){
				  $('.sub-title-01').removeClass('hidden').hide().fadeIn(5000, function(){
				  	$('.sub-title-02').removeClass('hidden').hide().fadeIn(500, function(){
				  		$('.sub-title-03').removeClass('hidden').hide().fadeIn(500)
				  	});
				  });
				});	
			});
		function vidFade() {
		  vid.classList.add("stopfade");
		}

		// only play video if bigger than Medium size
    if(windowSize > 768){
    	$('#bgvid')[0].play();
    	

    }else{
    	$('video').remove()
    	var image = $('.video-container').data('image')
    	$('.video-container').css({'background-image': 'url(' + image + ')', 'background-attachment' : 'scroll', 'top': '0','left': '0', 'min-width' : '100%', 'min-height' : '100%'})
    }
    	console.log("window!")
    	console.log(windowSize)
		vid.addEventListener('ended', function()
		{
		// only functional if "loop" is removed 
		vid.pause();
		// to capture IE10
		vidFade();
		}); 

		//generic story slider for mobile view
		$('.arrow-right').on('click', function(){
			var nextStory = $('.generic-story.active').next().hasClass('generic-story') ? $('.generic-story.active').next() : $('.generic-story')[0]
			$('.generic-story.active').removeClass('active').addClass('off')
			$(nextStory).removeClass('off').addClass('active')
		});
		$('.arrow-left').on('click', function(){
			var length = $('.generic-story').length - 1
			var nextStory = $('.generic-story.active').prev().hasClass('generic-story') ? $('.generic-story.active').prev() : $('.generic-story')[length]
			$('.generic-story.active').removeClass('active').addClass('off')
			$(nextStory).removeClass('off').addClass('active')
		});

		//hamburger nav
		$('.main--toggle').on('click', function(){
			$(this).toggleClass('active');
			$('.menu--main').slideToggle('normal')
		})
		// var windowSize = $(window).innerWidth()
		function mainMenu(){
			if(windowSize >= 960){
				$('.item--main').on('mouseenter', function(){
					$(this).find('a').addClass('active');
					$(this).find('.menu--sub').addClass('active');
				});
				$('.item--main').on('mouseleave', function(){
					$(this).find('a').removeClass('active');
					$(this).find('.menu--sub').removeClass('active');
				});

				$('.item--sub').on('mouseenter', function(){
					$(this).find('.menu--sub-desc').addClass('active')
				});
				$('.item--sub').on('mouseleave', function(){
					$(this).find('.menu--sub-desc').removeClass('active')
				});
				$('.item--main a').unbind('click')
			}else{
				$('.item--main, .item--sub').unbind('mouseenter mouseleave')
				$('.item--main a').unbind('click')
				$('.item--main a').on('click', function(){
					// e.preventDefault()
					$(this).toggleClass('active')
					$(this).parent('.item--main').find('.menu--sub').slideToggle('normal');
				})
				$('.item--main >a').on('click', function(e){
					e.preventDefault();
				})
			}
		}
		function mainMenuSmall(){
			if(windowSize <= 500){
				$('.menu--main').css({'width': '100%', 'margin-left': '0', 'left' : '0', 'display' : 'none'})
				$('.generic-story').each(function(i){
					i > 0 ? $(this).addClass('off') : null
					i == 0 ? $(this).addClass('active') : null
				})
			}else if(windowSize < 960){
				menu = $('.menu--main');
				menuWidth = $('.wrapper').innerWidth()
				console.log(menuWidth)
				marginLeft = (windowSize - menuWidth) / 2
				$('.menu--main').css({'width' : windowSize, 'margin-left': '-' + marginLeft + 'px', 'display': 'none'});
			}else{
				console.log('else')
				$('.menu--main').css({'width': 'auto', 'margin-left': '140px', 'display': 'flex'})
			}
		}

		var theWidth = $(window).width();
		$(window).resize(function(){
			if($(this).width() != theWidth){
				windowSize = $(window).innerWidth()
				mainMenu()
				mainMenuSmall()
			}
		});
		mainMenu()
		mainMenuSmall()

		$('a[href*="#"]:not([href="#"])').click(function() {
		   if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
		     var target = $(this.hash);
		     target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		     if (target.length) {
		       $('html, body').animate({
		         scrollTop: target.offset().top
		       }, 1000);
		       return false;
		     }
		   }
		 });
	// });
	commaSeparateNumber = function(val){
	   	while (/(\d+)(\d{3})/.test(val)){
	     	val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
	   }
	   return val;
	 }

	$('.count').each(function () {
	    $(this).prop('Counter',0).animate({
	        Counter: $(this).text()
	    }, {
	        duration: 6000,
	        easing: 'swing',
	        step: function (now) {
	            $(this).text(commaSeparateNumber(Math.ceil(now)) );
	        }
	    });
	});


</script>


