<nav class="main">
	<div class="wrapper clearfix">
		<%= image_tag 'wwf-logo.png'%>
		<a href="#" class="main--toggle">
			<span></span>
		</a>
		<ul class="wrapper--flex menu--main">
			<% @main_menus.each do |main_menu| %>
				<li class="item--main"><%= link_to main_menu.title, url_for(main_menu.link), :target => "_blank" %>
					<ul class="menu--sub">
						<% main_menu.sub_menus.each do |sub_menu| %>
							<li class="item--sub"><%= link_to sub_menu.title, url_for(sub_menu.link), :target => "_blank" %>
								<% if sub_menu.description.present? %>
								<div class="menu--sub-desc">
									<p><%=sub_menu.description%></p>
								</div>
								<% end %>
							</li>
						<% end%>
					</ul>
				</li>
			<% end %>
		</ul>
	</div>
</nav>

<h2>Header</h2>
<h2><span class="count"><%= @header.number %></span>  </h2>
<h4><%= @header.tag_line %></h4>

<section class="about wrapper">
	<p><%= simple_format(@header.about) %></p>	
</section>

<section class="stories wrapper">
	<h2><%= @stories_title.title%></h2>
	<% if @featured_story.present? %>
		<h3>Featured Story</h3>
		<div class="featured-story">
			<h3><%= @featured_story.title %></h3>
			<div class="wrapper--flex stories--flex">
				<div class="col--two">
					<%= simple_format(@featured_story.description) %>
				</div>
				<div class="col--two">
					<%= image_tag @featured_story.photo.url %>
				</div>
			</div>
			<%= link_to @featured_story.title, url_for(@featured_story.link), :target => "_blank"  %>
		</div>
	<% end %>
	<div class="wrapper--flex">
		<% @stories.each do |story| %>
			<div class="col--three-margin story">
				<div class="story--photo" style="background-image: url(<%= story.photo.url %>)"></div>
				<h3><%= story.title %></h3>
				<%= link_to story.title, url_for(story.link), :target => "_blank" %>		
			</div>
		<% end %>
		
	</div>	
</section>

<section class="social">
<h2><%= @title_blog.title%></h2>
<div class="hashtag">	
	<h2 class="center-text">#WeCountForNature</h2>
	<p class="center-text"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></p>
</div>

	<div class="wrapper--flex">
		<% @socials.each_with_index do |social, index| %>
			<div class="social-element col--five">
				<% if index.modulo(2).zero? %>
					<% if social.present? %>
						<div class="tweet">
							<p ><%= Rinku.auto_link(social.text, :all, 'target="_blank"').html_safe %></p>
						</div>
					<% end %>
				<% else %>
					<% if social.present? %>
						<div class="instagram" style="background-image: url(<%= social.image_url %>)">
						</div>
					<% end %>
				<% end %>
			</div>
		<% end %>
</section>

<section class="wp-blog wrapper">
	<h2>Blogs</h2>
		<% @blogs.each do |blog| %>
		<div class="wrapper--flex">
			<div class="col--two">
				<% if blog.photo.present? %>
				  <%= image_tag blog.photo.url('header') %>
				<% else %>
				  <%= image_tag blog.image_url %>
				<% end %>
			</div>
			<div class="col--two">
				<p><%= blog.title %></p>
				<p><%= blog.author %></p>
				<p><%= blog.date.strftime("%B %d, %Y") %></p>
				<p><%= blog.short_description.html_safe %></p>
				<p><%= Rinku.auto_link(blog.link, :all, 'target="blank"').html_safe %></p>
			</div>
		</div>
		<% end %>
</section>

<section class="featured-donor">
	<h2>Featured Donor</h2>
	<% if @featured_donor.present? %>
		<div class="wrapper wrapper--flex">
			<div class="col--two">
				<h4><%= @featured_donor.title %></h4>
				<p><%= simple_format(@featured_donor.short_description) %></p>
				<%= link_to @featured_donor.title, url_for(@featured_donor.link), :target => "_blank" %>
			</div>
			<div class="col--two">
				<%= image_tag @featured_donor.photo.url %>
			</div>
		</div>
	<% end %>
</section>

<section class="generic-stories wrapper">
	<h2><%=  @generic_stories_title.title%></h2>
	<div class="wrapper--flex">	
		<% @generic_stories.each do |gstory| %>
			<div class="col--three">
				<h4><%= gstory.title %></h4>
				<p><%= simple_format(gstory.short_description) %></p>
				<%= link_to gstory.title, url_for(gstory.link), :target => "_blank" %>
			</div>
		<% end %>
	</div>
</section>


<script>
	$(function(){
		
		

		//hamburger nav
		$('.main--toggle').on('click', function(){
			$(this).toggleClass('active');
			$('.menu--main').slideToggle('normal')
		})
		var windowSize = $(window).innerWidth()
		function mainMenu(){
			console.log(windowSize);
			if(windowSize >= 960){
				$('.item--main').on('mouseenter', function(){
					$(this).find('a').addClass('active');
					$(this).find('.menu--sub').addClass('active');
				});
				$('.item--main').on('mouseleave', function(){
					$(this).find('a').removeClass('active');
					$(this).find('.menu--sub').removeClass('active');
				});

				$('.item--sub').on('mouseenter', function(){
					$(this).find('.menu--sub-desc').addClass('active')
				});
				$('.item--sub').on('mouseleave', function(){
					$(this).find('.menu--sub-desc').removeClass('active')
				});
				$('.item--main a').unbind('click')
			}else{
				$('.item--main, .item--sub').unbind('mouseenter mouseleave')
				$('.item--main a').unbind('click')
				$('.item--main a').on('click', function(e){
					e.preventDefault()
					$(this).toggleClass('active')
					$(this).parent('.item--main').find('.menu--sub').slideToggle('normal');
				})
			}
		}
		function mainMenuSmall(){
			if(windowSize <= 500){
				$('.menu--main').css({'width': '100%', 'margin-left': '0', 'left' : '0', 'display' : 'none'})
			}else if(windowSize < 960){
				menu = $('.menu--main');
				menuWidth = $('.wrapper').innerWidth()
				console.log(menuWidth)
				marginLeft = (windowSize - menuWidth) / 2
				$('.menu--main').css({'width' : windowSize, 'margin-left': '-' + marginLeft + 'px', 'display': 'none'});
			}else{
				console.log('else')
				$('.menu--main').css({'width': 'auto', 'margin-left': '140px', 'display': 'flex'})
			}
		}
		$(window).resize(function(){
			windowSize = $(window).innerWidth()
			mainMenu()
			mainMenuSmall()
		});
		mainMenu()
		mainMenuSmall()
	});
	commaSeparateNumber = function(val){
	   	while (/(\d+)(\d{3})/.test(val)){
	     	val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
	   }
	   return val;
	 }

	$('.count').each(function () {
	    $(this).prop('Counter',0).animate({
	        Counter: $(this).text()
	    }, {
	        duration: 12000,
	        easing: 'swing',
	        step: function (now) {
	            $(this).text(commaSeparateNumber(Math.ceil(now)) );
	        }
	    });
	});


</script>


