<nav class="main">
	<div class="wrapper">
		<%= image_tag 'wwf-logo.png'%>
		<ul class="wrapper--flex menu--main">
			<% @main_menus.each do |main_menu| %>
				<li class="item--main"><%= link_to main_menu.title, url_for(main_menu.link), :target => "_blank" %>
					<ul class="menu--sub">
						<% main_menu.sub_menus.each do |sub_menu| %>
							<li class="item--sub"><%= link_to sub_menu.title, url_for(sub_menu.link), :target => "_blank" %>
								<% if sub_menu.description.present? %>
								<div class="menu--sub-desc">
									<p><%=sub_menu.description%></p>
								</div>
								<% end %>
							</li>
						<% end%>
					</ul>
				</li>
			<% end %>
		</ul>
	</div>
</nav>

<h2>Header</h2>
<h2><span class="count"><%= @header.number %></span>  </h2>
<h4><%= @header.tag_line %></h4>

<h2>About</h2>
<p><%= simple_format(@header.about) %></p>

<h2>Stories</h2>
<% if @featured_story.present? %>
	<h3>Featured Story</h3>
	<h4><%= @featured_story.title %></h4>
	<p><%= simple_format(@featured_story.description) %></p>
	<%= link_to @featured_story.title, url_for(@featured_story.link), :target => "_blank"  %>
<% end %>

<h3>All other stories</h3>	
<% @stories.each do |story| %>
	<h4><%= story.title %></h4>
	<p><%= simple_format(story.description) %></p>
	<%= link_to story.title, url_for(story.link), :target => "_blank" %>
<% end %>

<h2>Tweets</h2>
<h3>total count: <%= @tweets.count %></h3>

<% @tweets.each do |tweet| %>
	<p><%= Rinku.auto_link(tweet.text, :all, 'target="_blank"').html_safe %></p>
<% end %>

<h2>Instagram</h2>
<h3>total count: <%= @instagrams.count %></h3>
<% @instagrams.each do |instagram| %>
	<%= image_tag instagram.image_url %>
	<p><%= Rinku.auto_link(instagram.text, :all, 'target="_blank"').html_safe  %></p>
<% end %>

<h2>Blogs</h2>
<h3>total count: <%= @blogs.count %></h3>
<% @blogs.each do |blog| %>
	<% if blog.photo.present? %>
	  <%= image_tag blog.photo.url('header') %>
	<% else %>
	  <%= image_tag blog.image_url %>
	<% end %>
	<p><%= blog.title %></p>
	<p><%= blog.author %></p>
	<p><%= blog.date.strftime("%B %d, %Y") %></p>
	<p><%= blog.short_description.html_safe %></p>
	<p><%= Rinku.auto_link(blog.link, :all, 'target="blank"').html_safe %></p>
<% end %>

<h2>Featured Donor</h2>
<% if @featured_donor.present? %>
	<h4><%= @featured_donor.title %></h4>
	<%= image_tag @featured_donor.photo.url %>
	<p><%= simple_format(@featured_donor.short_description) %></p>
	<%= link_to @featured_donor.title, url_for(@featured_donor.link), :target => "_blank" %>
<% end %>

<h2>Generic Stories</h2>
<% @generic_stories.each do |gstory| %>
	<h4><%= gstory.title %></h4>
	<p><%= simple_format(gstory.short_description) %></p>
	<%= link_to gstory.title, url_for(gstory.link), :target => "_blank" %>
<% end %>


<script>
	$(function(){
		$('.item--main').on('mouseenter', function(){
			$(this).find('a').addClass('active');
			$(this).find('.menu--sub').addClass('active');
		});
		$('.item--main').on('mouseleave', function(){
			$(this).find('a').removeClass('active');
			$(this).find('.menu--sub').removeClass('active');
		});

		$('.item--sub').on('mouseenter', function(){
			$(this).find('.menu--sub-desc').addClass('active')
		});
		$('.item--sub').on('mouseleave', function(){
			$(this).find('.menu--sub-desc').removeClass('active')
		});
	});
	commaSeparateNumber = function(val){
	   	while (/(\d+)(\d{3})/.test(val)){
	     	val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
	   }
	   return val;
	 }

	$('.count').each(function () {
	    $(this).prop('Counter',0).animate({
	        Counter: $(this).text()
	    }, {
	        duration: 12000,
	        easing: 'swing',
	        step: function (now) {
	            $(this).text(commaSeparateNumber(Math.ceil(now)) );
	        }
	    });
	});


</script>


