
<h1>FrontPage#show</h1>
<p>Find me in app/views/front_page/show.html.erb</p>

<h2>Menus</h2>
<ul>
	<% @main_menus.each do |main_menu| %>
		<li><%= link_to main_menu.title, url_for(main_menu.link), :target => "_blank" %></li>
		<ul>
			<% main_menu.sub_menus.each do |sub_menu| %>
				<li><%= link_to sub_menu.title, url_for(sub_menu.link), :target => "_blank" %></li>
			<% end%>
		</ul>
	<% end %>
</ul>

<h2>Header</h2>
<h2><span class="count"><%= @header.number %></span>  </h2>
<h4><%= @header.tag_line %></h4>

<h2>About</h2>
<p><%= simple_format(@header.about) %></p>

<h2>Stories</h2>
<% if @featured_story.present? %>
	<h3>Featured Story</h3>
	<h4><%= @featured_story.title %></h4>
	<p><%= simple_format(@featured_story.description) %></p>
	<%= link_to @featured_story.title, url_for(@featured_story.link), :target => "_blank"  %>
<% end %>

<h3>All other stories</h3>	
<% @stories.each do |story| %>
	<h4><%= story.title %></h4>
	<p><%= simple_format(story.description) %></p>
	<%= link_to story.title, url_for(story.link), :target => "_blank" %>
<% end %>

<h2>Tweets</h2>
<h3>total count: <%= @tweets.count %></h3>

<% @tweets.each do |tweet| %>
	<p><%= Rinku.auto_link(tweet.text, :all, 'target="_blank"').html_safe %></p>
<% end %>

<h2>Instagram</h2>
<h3>total count: <%= @instagrams.count %></h3>
<% @instagrams.each do |instagram| %>
	<%= image_tag instagram.image_url %>
	<p><%= Rinku.auto_link(instagram.text, :all, 'target="_blank"').html_safe  %></p>
<% end %>

<h2>Featured Donor</h2>
<% if @featured_donor.present? %>
	<h4><%= @featured_donor.title %></h4>
	<p><%= simple_format(@featured_donor.short_description) %></p>
	<%= link_to @featured_donor.title, url_for(@featured_donor.link), :target => "_blank" %>
<% end %>

<h2>Generic Stories</h2>
<% @generic_stories.each do |gstory| %>
	<h4><%= gstory.title %></h4>
	<p><%= simple_format(gstory.short_description) %></p>
	<%= link_to gstory.title, url_for(gstory.link), :target => "_blank" %>
<% end %>





<script>

	commaSeparateNumber = function(val){
	   	while (/(\d+)(\d{3})/.test(val)){
	     	val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
	   }
	   return val;
	 }

	$('.count').each(function () {
	    $(this).prop('Counter',0).animate({
	        Counter: $(this).text()
	    }, {
	        duration: 12000,
	        easing: 'swing',
	        step: function (now) {
	            $(this).text(commaSeparateNumber(Math.ceil(now)) );
	        }
	    });
	});


</script>


