<%= form_for [:admin, @generic_story] do |f| %>
  <% if @generic_story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@generic_story.errors.count, "error") %> prohibited this generic_story from being saved:</h2>

      <ul>
      <% @generic_story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wrapper--flex">
    <div class="field col--two">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field col--two">
      <%= f.label :fr_title %><br>
      <%= f.text_field :fr_title %>
    </div>
  </div>
  
  <div class="wrapper--flex">
    <div class="field col--two">
      <%= f.label :short_description %><br>
      <%= f.text_area :short_description %>
    </div>
    <div class="field col--two">
      <%= f.label :fr_short_description %><br>
      <%= f.text_area :fr_short_description %>
    </div>
  </div>
  
  <div class="wrapper--flex">
    <div class="field col--two">
      <%= f.label :link %><br>
      <%= f.text_field :link %>
    </div>
    <div class="field col--two">
      <%= f.label :fr_link %><br>
      <%= f.text_field :fr_link %>
    </div>
  </div>
  
  <div class="wrapper--flex">
    <div class="field col--two">
      <%= f.label :button_name %><br>
      <%= f.text_field :button_name %>
    </div>
    <div class="field col--two">
      <%= f.label :fr_button_name %><br>
      <%= f.text_field :fr_button_name %>
    </div>
  </div>
  
  <div class="field col--two">
    <%= f.label @generic_story.selected_lang(current_user) %><br>
    <%= f.check_box :selected %>
  </div>
  <div class="actions">
    <%= f.submit @generic_story.update_lang(current_user), class: 'button button--tertiary' %>
  </div>
<% end %>
