<div class="as--admin-index-title">
  <h1><%= @generic_stories.first.all_lang(current_user) %> <%= @generic_stories.first.generic_stories_lang(current_user) %></h1>
  <%= link_to 'New Generic Story', new_admin_generic_story_path, class: 'button button--tertiary as--no-margin-bottom' %>
</div>
<%= form_for(@title.first, remote: true) do |f|%>
  <div class="wrapper--flex">
    <div class="field col--two">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'title--field', :data => {:id => @title.first.id} %>
    </div>
    <div class="field col--two">
      <%= f.label :fr_title %><br>
      <%= f.text_field :fr_title, class: 'fr-title--field', :data => {:id => @title.first.id} %>
    </div>
  </div>
  <div class="field">
    <%= f.hidden_field :section_name, value: 'generic_stories' %>

  </div>
  <div class="actions">
    <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
    <th><%= @generic_stories.first.selected_lang(current_user) %></th>
      <th><%= @generic_stories.first.title_lang(current_user) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @generic_stories.each do |generic_story| %>
      <tr>
        <td><%= generic_story.selected ? generic_story.yes_lang(current_user) : generic_story.no_lang(current_user) %></td>
        <td><%= generic_story.title_used(current_user, generic_story) %></td>
        <td class="table--button"><%= link_to edit_admin_generic_story_path(generic_story), class: 'button button--primary button--edit as--no-margin-bottom' do %>
            <%= generic_story.edit_lang(current_user) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function(){
    $('.title--field').on('blur', function(){
      console.log('changed')
      var id = $(this).data('id')
      var text = $(this).val()
      console.log(id)
      $.ajax({
        url: '' ,
        type: 'get',
        data: {
          title: text,
          title_thing: id
        },
        dataType: 'script'
      });
    });

    $('.fr-title--field').on('blur', function(){
      console.log('changed')
      var id = $(this).data('id')
      var text = $(this).val()
      console.log(id)
      $.ajax({
        url: '' ,
        type: 'get',
        data: {
          fr_title: text,
          fr_title_thing: id
        },
        dataType: 'script'
      });
    });
  });
</script>



