<p id="notice"><%= notice %></p>

<h1>Listing Generic Stories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Short description</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generic_stories.each do |generic_story| %>
      <tr>
        <td><%= generic_story.title %></td>
        <td><%= generic_story.short_description %></td>
        <td><%= generic_story.link %></td>
        <td><%= link_to 'Show', admin_generic_story_path(generic_story) %></td>
        <td><%= link_to 'Edit', edit_admin_generic_story_path(generic_story) %></td>
        <td><%= link_to 'Destroy', admin_generic_story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generic story', new_admin_generic_story_path %>
