<div class="form--contained">
	<div class="as--admin-index-title">
		<h1><%= @generic_story.new_lang(current_user) %> <%= @generic_story.generic_stories_lang(current_user) %></h1>
		<%= link_to admin_generic_stories_path, class: 'button button--primary button--large as--no-margin-bottom' do %>
			<%= @generic_story.back_lang(current_user) %>
		<% end %>
	</div>
	<%= render 'form' %>
</div>





