<h1>Admin#show</h1>
<p>Find me in app/views/admin/show.html.erb</p>

<ul>
	<li><%= link_to "header", headers_path %></li>
	<li><%= link_to "blogs", blogs_path %></li>
	<li><%= link_to "stories", stories_path %></li>
	<li><%= link_to "generic stories", generic_stories_path %></li>
	<li><%= link_to "menus", main_menus_path %></li>
	<li></li>
</ul>




