<div class="form--contained">
	<h1>Editing <%= @story.title%></h1>
	<div class="admin--module">
		<p>Recent Updates</p>
		<% @updated_by.each do |update|%>
			<li><%= update.to_h[:user].email%> | <%= update.to_h[:time]%></li>
		<% end %>
	</div>
	<%= render 'form' %>
	<div class="wrapper--flex">
		<%= link_to 'Back', admin_stories_path, class: 'button button--primary as--half' %>
		<%= link_to 'Delete', admin_story_path(@story), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button--primary as--half button--delete' %>
	</div>
</div>




