<div class="as--admin-index-title">
  <h1>Listing Calls to Action</h1>
  <%= link_to 'New Story', new_admin_story_path, class: 'button button--tertiary as--no-margin-bottom' %>
</div>
<%= form_for(@title.first, remote: true) do |f|%>
  <div class="wrapper--flex">
    <div class="field col--two">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'title--field', :data => {:id => @title.first.id} %>
    </div>
    <div class="field col--two">
      <%= f.label :fr_title %><br>
      <%= f.text_field :fr_title, class: 'fr-title--field', :data => {:id => @title.first.id} %>
    </div>
  </div>
  <div class="field">
    <%= f.hidden_field :section_name, value: 'stories' %>

  </div>
  <div class="actions">
    <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th class="table--image"></th>
      <th>Featured</th>
      <th>Selected</th>
      <th>Title</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= image_tag story.photo.url('header')%></td>
        <td><%= story.featured ? 'yes' : 'no' %></td>
        <td><%= story.selected ? 'yes' : 'no'%></td>
        <td><%= story.title %></td>
        <td><%= story.date %></td>
        <td class="table--button"><%= link_to 'Edit', edit_admin_story_path(story), class:'button button--primary button--edit as--no-margin-bottom' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $(function(){
    $('.title--field').on('blur', function(){
      console.log('changed')
      var id = $(this).data('id')
      var text = $(this).val()
      console.log(id)
      $.ajax({
        url: '' ,
        type: 'get',
        data: {
          title: text,
          title_thing: id
        },
        dataType: 'script'
      });
    });

    $('.fr-title--field').on('blur', function(){
      console.log('changed')
      var id = $(this).data('id')
      var text = $(this).val()
      console.log(id)
      $.ajax({
        url: '' ,
        type: 'get',
        data: {
          fr_title: text,
          fr_title_thing: id
        },
        dataType: 'script'
      });
    });
  });
</script>


