<div class="as--admin-index-title">
  <h1>Listing Stories</h1>
  <%= link_to 'New Story', new_admin_story_path, class: 'button button--tertiary as--no-margin-bottom' %>
</div>

<table>
  <thead>
    <tr>
      <th class="table--image"></th>
      <th>Featured</th>
      <th>Title</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= image_tag story.photo.url('header')%></td>
        <td><%= story.featured %></td>
        <td><%= story.title %></td>
        <td><%= story.date %></td>
        <td class="table--button"><%= link_to 'Edit', edit_admin_story_path(story), class:'button button--primary button--edit as--no-margin-bottom' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


