<div class="as--admin-index-title">
  <h1><%= @stories.first.all_lang(current_user) %> <%= @stories.first.calls_to_action_lang(current_user) %></h1>
  <%= link_to 'New Story', new_admin_story_path, class: 'button button--tertiary as--no-margin-bottom' %>
</div>
<%= form_for(@title.first, remote: true) do |f|%>
  <div class="wrapper--flex">
    <div class="field en-<%= current_user.preferred_language %> col--two">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'title--field', :data => {:id => @title.first.id} %>
    </div>
    <div class="field <%= current_user.preferred_language %>-fr col--two">
      <%= f.label :fr_title %><br>
      <%= f.text_field :fr_title, class: 'fr-title--field', :data => {:id => @title.first.id} %>
    </div>
  </div>
  <div class="field">
    <%= f.hidden_field :section_name, value: 'stories' %>

  </div>
  <div class="actions">
    <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th class="table--image"></th>
      <th><%= @stories.first.featured_lang(current_user) %></th>
      <th><%= @stories.first.selected_lang(current_user) %></th>
      <th><%= @stories.first.title_lang(current_user) %></th>
      <th><%= @stories.first.date_lang(current_user) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= image_tag story.photo.url('header')%></td>
        <td><%= story.featured ? story.yes_lang(current_user) : story.no_lang(current_user) %></td>
        <td><%= story.selected ? story.yes_lang(current_user) : story.no_lang(current_user) %></td>
        <td><%= story.title_used(current_user, story) %></td>
        <td><%= story.date %></td>
        <td class="table--button"><%= link_to edit_admin_story_path(story), class:'button button--primary button--edit as--no-margin-bottom' do %>
          <%= story.edit_lang(current_user) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $(function(){
    $('.title--field').on('blur', function(){
      console.log('changed')
      var id = $(this).data('id')
      var text = $(this).val()
      console.log(id)
      $.ajax({
        url: '' ,
        type: 'get',
        data: {
          title: text,
          title_thing: id
        },
        dataType: 'script'
      });
    });

    $('.fr-title--field').on('blur', function(){
      console.log('changed')
      var id = $(this).data('id')
      var text = $(this).val()
      console.log(id)
      $.ajax({
        url: '' ,
        type: 'get',
        data: {
          fr_title: text,
          fr_title_thing: id
        },
        dataType: 'script'
      });
    });
  });
</script>


