<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @story.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @story.date %>
</p>

<p>
  <strong>Link:</strong>
  <%= @story.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @story.featured %>
</p>

<%= link_to 'Edit', edit_admin_story_path(@story) %> |
<%= link_to 'Back', admin_stories_path %>
