<%= form_for [:admin, @header] do |f| %>
  <% if @header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@header.errors.count, "error") %> prohibited this header from being saved:</h2>

      <ul>
      <% @header.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :tag_line %><br>
    <%= f.text_field :tag_line %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
