  
  <%= form_for [:admin, @header] do |f| %>
    <% if @header.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@header.errors.count, "error") %> prohibited this header from being saved:</h2>

        <ul>
        <% @header.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label @header.number_lang(current_user) %><br>
      <%= f.number_field :number %>
    </div>
    <div class="wrapper--flex">
      <div class="field en-<%= current_user.preferred_language %> col--two">
        <%= f.label :tag_line %><br>
        <%= f.text_field :tag_line %>
      </div>
      <div class="field <%= current_user.preferred_language %>-fr col--two">
        <%= f.label :Descriptif %><br>
        <%= f.text_field :fr_tag_line %>
      </div>
    </div>  
    <div class="field">
      <%= f.label @header.video_lang(current_user) %>
      <%= f.text_field :video_link %>
    </div>
    <div class="field">
      <%= f.label @header.video_photo_lang(current_user) %><br>
      <%= f.file_field :video_photo %>
    </div>
    <% if @header.video_photo.url.present? %>
      <%= image_tag @header.video_photo.url('thumbnail')%>
    <% end %>
    <div class="wrapper--flex">
      <div class="field en-<%= current_user.preferred_language %> col--two">
        <%= f.label :about %><br>
        <%= f.text_area :about %>
      </div>
      <div class="field <%= current_user.preferred_language %>-fr col--two">
        <%= f.label 'À propos' %><br>
        <%= f.text_area :fr_about %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "#{@header.edit_lang(current_user)} #{@header.the_header_lang(current_user)}", class: 'button button--tertiary' %>
    </div>
  <% end %>
