<div class="form--contained">
	<div class="as--admin-index-title">
		<h1><%= @header.editing_lang(current_user) %> <%= @header.header_lang(current_user) %></h1>
		<p></p> 
		<%= link_to admin_show_path, class: 'button button--primary button--large as--no-margin-bottom' do %>
			<%= @header.back_lang(current_user) %>
		<% end %>
	</div>
		<br>
	<div class="admin--module">
		<p><%= @header.recent_updates_lang(current_user) %></p>
		<% @updated_by.each do |update|%>
			<li><%= update.to_h[:user].email%> | <%= update.to_h[:time]%></li>
		<% end %>
	</div>
	<%= render 'form' %>
</div>

