<p id="notice"><%= notice %></p>

<h1>Listing Headers</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Tag line</th>
      <th>About</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @headers.each do |header| %>
      <tr>
        <td><%= header.number %></td>
        <td><%= header.tag_line %></td>
        <td><%= header.about %></td>
        <td><%= link_to 'Show', admin_header_path(header) %></td>
        <td><%= link_to 'Edit', edit_admin_header_path(header) %></td>
        <td><%= link_to 'Destroy', admin_header_path(header), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Header', new_admin_header_path %>
