<%= form_for(@fr_gram) do |f| %>
  <% if @fr_gram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fr_gram.errors.count, "error") %> prohibited this fr_gram from being saved:</h2>

      <ul>
      <% @fr_gram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
