<p id="notice"><%= notice %></p>

<p>
  <strong>Image url:</strong>
  <%= @fr_gram.image_url %>
</p>

<p>
  <strong>Text:</strong>
  <%= @fr_gram.text %>
</p>

<%= link_to 'Edit', edit_fr_gram_path(@fr_gram) %> |
<%= link_to 'Back', fr_grams_path %>
