<%= form_for [:admin, @featured_donor] do |f| %>
  <% if @featured_donor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@featured_donor.errors.count, "error") %> prohibited this featured_donor from being saved:</h2>

      <ul>
      <% @featured_donor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :short_description %><br>
    <%= f.text_field :short_description %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
