<%= form_for [:admin, @featured_donor] do |f| %>
  <% if @featured_donor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@featured_donor.errors.count, "error") %> prohibited this featured_donor from being saved:</h2>

      <ul>
      <% @featured_donor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wrapper--flex">
    <div class="field en-<%= current_user.preferred_language %> col--two">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field <%= current_user.preferred_language %>-fr col--two">
      <%= f.label :fr_title %><br>
      <%= f.text_field :fr_title %>
    </div>
  </div>
  
  <div class="wrapper--flex">
    <div class="field en-<%= current_user.preferred_language %> col--two">
      <%= f.label :short_description %><br>
      <%= f.text_field :short_description %>
    </div>
    <div class="field <%= current_user.preferred_language %>-fr col--two">
      <%= f.label :fr_short_description %><br>
      <%= f.text_field :fr_short_description %>
    </div>
  </div>
  
  <div class="wrapper--flex">
    <div class="field en-<%= current_user.preferred_language %> col--two">
      <%= f.label :link %><br>
      <%= f.text_field :link %>
    </div>
    <div class="field <%= current_user.preferred_language %>-fr col--two">
      <%= f.label :fr_link %><br>
      <%= f.text_field :fr_link %>
    </div>
  </div>
  
  <div class="wrapper--flex">
    <div class="field en-<%= current_user.preferred_language %> col--two">
      <%= f.label :button_name %><br>
      <%= f.text_field :button_name %>
    </div>
    <div class="field <%= current_user.preferred_language %>-fr col--two">
      <%= f.label :fr_button_name %><br>
      <%= f.text_field :fr_button_name %>
    </div>
  </div>
  
  <div class="field col--two">
    <%= f.label @featured_donor.featured_lang(current_user) %><br>
    <%= f.check_box :featured %>
  </div>

  <div class="field col--two">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>

  <div class="wrapper--flex">
    <div class="field en-<%= current_user.preferred_language %> col--two">
      <%= f.label :photo_by %><br>
      <%= f.text_field :photo_by %>
    </div>
    <div class="field col--two">
      <%= f.label :fr_photo_by %><br>
      <%= f.text_field :fr_photo_by %>
    </div>
  </div>
  
  <% if @featured_donor.photo? %>
    <%= image_tag @featured_donor.photo.url('header')%>
    <br>

    <%= f.label "#{@featured_donor.remove_lang(current_user)} photo" %>
    <%= check_box_tag :remove_photo %>
  <% end %>
  <div class="actions">
    <%= f.submit @featured_donor.update_lang(current_user), class: 'button button--tertiary' %>
  </div>
<% end %>
