<div class="as--admin-index-title">
  <h1>Listing Featured Members</h1>
  <%= link_to 'New Featured Member', new_admin_featured_donor_path, class: 'button button--tertiary as--no-margin-bottom' %>
</div>

<table>
  <thead>
    <tr>
      <th class="table--image"></th>
      <th>Featured</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @featured_donors.each do |featured_donor| %>
      <tr>
        <td><%= image_tag featured_donor.photo.url('header')%></td>
        <td><%= featured_donor.featured ? 'yes' : 'no' %></td>
        <td><%= featured_donor.title %></td>
        <td class="table--button"><%= link_to 'Edit', edit_admin_featured_donor_path(featured_donor), class: 'button button--primary button--edit as--no-margin-bottom' %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


