<%= form_for [:admin, @fr_blog] do |f| %>
  <% if @fr_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fr_blog.errors.count, "error") %> prohibited this fr_blog from being saved:</h2>

      <ul>
      <% @fr_blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label @fr_blog.title_lang(current_user) %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label @fr_blog.author_lang(current_user) %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, {:use_month_names => ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre ','Décembre']}  %>
  </div>
  <div class="field">
    <%= f.label @fr_blog.brief_description_lang(current_user) %><br>
    <%= f.text_area :short_description %>
  </div>
  <div class="field">
    <%= f.label @fr_blog.link_lang(current_user) %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label "video #{@fr_blog.link_lang(current_user)}" %><br>
    <%= f.text_field :video_link %>
  </div>
  <div class="field">
    <%= f.label @fr_blog.approved_lang(current_user) %><br>
    <%= f.check_box :approved %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :wp_id %><br>
    <%= f.number_field :wp_id %>
  </div>
  <div class="field">
    <%= f.label "photo #{@fr_blog.by_lang(current_user)}" %><br>
    <%= f.text_field :photo_by %>
  </div>
  <div class="actions">
    <%= f.submit @fr_blog.update_lang(current_user) %>
  </div>
<% end %>
