<div class="form--contained">
	<h1><%= @fr_blog.editing_lang(current_user) %>  <%= @fr_blog.title%></h1>
	<div class="admin--module">	
		<p><%= @fr_blog.recent_updates_lang(current_user) %></p>
		<% @updated_by.each do |update|%>
			<li><%= update.to_h[:user].email%> | <%= update.to_h[:time]%></li>
		<% end %>
	</div>

	<%= render 'form' %>

	<div class="wrapper--flex">	
		<%= link_to admin_fr_blogs_path, class: 'button button--primary as--half' do %>
			  <%= @fr_blog.back_lang(current_user) %>
			<% end %>
		<%= link_to admin_fr_blog_path(@fr_blog), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button--primary button--delete as--half' do %>
		  		<%= @fr_blog.delete_lang(current_user) %>
			<% end %>
	</div>
</div>
