
<div class="as--admin-index-title">
  <h1>Tous les blogues</h1>
  <%= link_to 'Nouveau blog personnalisé', new_admin_fr_blog_path, class: 'button button--tertiary as--no-margin-bottom' %>
  <%= link_to 'Télécharger à partir de Wordpress', admin_upload_fr_wps_path, class: 'button button--tertiary' %>
</div>
<%= form_for(@title.first, remote: true) do |f|%>
  <div class="field">
    <%= f.label @fr_blogs.first.title_lang(current_user) %><br>
    <%= f.text_field :title, class: 'title--field', :data => {:id => @title.first.id} %>
  </div>
  <div class="field">
    <%= f.hidden_field :section_name, value: 'blog' %>
  </div>
  <div class="actions">
    <%= f.submit "#{@title.first.update_lang(current_user)} #{@title.first.the_title_lang(current_user)}" %>
<% end %>


<table>
  <thead>
    <tr>
      <th class="table--image"></th>
      <th><%= @fr_blogs.first.approved_lang(current_user) %></th>
      <th><%= @fr_blogs.first.title_lang(current_user) %></th>
      <th><%= @fr_blogs.first.date_lang(current_user) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fr_blogs.each do |blog| %>
      <tr>
        <% if blog.photo.present? %>
          <td><%= image_tag blog.photo.url %></td>
        <% else %>
          <td><%= image_tag blog.image_url %></td>
        <% end %>
        <td><%= blog.approved ? 'oui' : 'non' %></td>
        <td><%= blog.title %></td>
        <td><%= blog.date %></td>
        <td class="table--button"><%= link_to edit_admin_fr_blog_path(blog), class: 'button button--primary button--edit as--no-margin-bottom' do %>
          <%= blog.edit_lang(current_user) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<script>
  // $(function() {
    $('.blog_approved').change(function(){
      // $(this).parent().submit();
      blog_approved = $(this).val();
      blog = parseInt($(this).attr('id').split('_')[3])
      console.log(blog)
      $.ajax({
        url: 'blogs/'+blog,
        type: 'put',
        data: {
          blog : blog,
          approved : blog_approved
        },
        dataType: 'script'
      });
      console.log('submitted?')
      console.log($(this).parent()[0])
    });

    $('.title--field').on('blur', function(){
      console.log('changed')
      var id = $(this).data('id')
      var text = $(this).val()
      console.log(id)
      $.ajax({
        url: '' ,
        type: 'get',
        data: {
          title: text,
          title_thing: id
        },
        dataType: 'script'
      });
    });

  // });
</script>


