<p id="notice"><%= notice %></p>

<h1>Listing Fr Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fr_tweets.each do |fr_tweet| %>
      <tr>
        <td><%= fr_tweet.text %></td>
        <td><%= link_to 'Show', fr_tweet %></td>
        <td><%= link_to 'Edit', edit_fr_tweet_path(fr_tweet) %></td>
        <td><%= link_to 'Destroy', fr_tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fr tweet', new_fr_tweet_path %>
