<%= form_for [:admin, @main_menu] do |f| %>
  <% if @main_menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@main_menu.errors.count, "error") %> prohibited this main_menu from being saved:</h2>

      <ul>
      <% @main_menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wrapper--flex">
    <div class="field en-<%= current_user.preferred_language %> col--two">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field <%= current_user.preferred_language %>-fr col--two">
      <%= f.label :titre %><br>
      <%= f.text_field :fr_title %>
    </div>
  </div>
 
  <h2>Sub Menus</h2>
  <%= f.fields_for :sub_menus do |builder| %>
    <%= render 'sub_menu_fields', f: builder %>
  <% end %>

  <%= link_to_add_fields "#{@main_menu.new_lang(current_user)} sub #{@main_menu.menu_lang(current_user)}", f, :sub_menus  %>

  <div class="actions">
    <%= f.submit @main_menu.update_lang(current_user), class: 'button button--tertiary' %>
  </div>
<% end %>

<script>
$(document).ready(function(){
  console.log('ready')
  $('form').on('click', '.remove_fields', function(even){
    event.preventDefault()
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
  });
  
  $('form').on('click', '.add_fields', function(event){
    event.preventDefault();
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    console.log(regexp)
    $(this).before($(this).data('fields').replace(regexp, time));

  })
});
  
</script>
