<%= form_for [:admin, @main_menu] do |f| %>
  <% if @main_menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@main_menu.errors.count, "error") %> prohibited this main_menu from being saved:</h2>

      <ul>
      <% @main_menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <h2>Sub Menus</h2>
  <%= f.fields_for :sub_menus do |builder| %>
    <%= render 'sub_menu_fields', f: builder %>
  <% end %>

  <%= link_to_add_fields "add sub menu", f, :sub_menus %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$(document).ready(function(){
  console.log('ready')
  $('form').on('click', '.remove_fields', function(even){
    event.preventDefault()
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
  });
  
  $('form').on('click', '.add_fields', function(event){
    event.preventDefault();
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    console.log(regexp)
    $(this).before($(this).data('fields').replace(regexp, time));

  })
});
  
</script>
