<fieldset>
  <div class="wrapper--flex">
    <div class="field col--two">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field col--two">
      <%= f.label :fr_title %><br>
      <%= f.text_field :fr_title %>
    </div>

  </div>

  <div class="wrapper--flex">
    <div class="field col--two">
      <%= f.label :link %><br>
      <%= f.text_field :link %>
    </div>
    <div class="field col--two">
      <%= f.label :fr_link %><br>
      <%= f.text_field :fr_link %>
    </div>
  </div>

  <div class="wrapper--flex">
    <div class="field col--two">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    <div class="field col--two">
      <%= f.label :fr_description %><br>
      <%= f.text_field :fr_description %>
    </div>
  </div>


  <div class="field">
    <%= f.hidden_field :main_menu_id, value: @main_menu.id  %>
  </div>
  <div class="fieldset">
    <%= f.hidden_field :_destroy %>
    <%= link_to "remove", "#", class: "remove_fields" %>
  </div>
</fieldset>