<div class="form--contained">
	<div class="as--admin-index-title">
		<h1><%= @main_menu.new_lang(current_user) %> <%= @main_menu.menu_lang(current_user) %></h1>
		<%= link_to admin_main_menus_path, class: 'button button--primary button--large as--no-margin-bottom' do %>
			<%= @main_menu.back_lang(current_user) %>
		<% end %>
	</div>
	

	<%= render 'form' %>

	
</div>
