<%= params %>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @blog.author %>
</p>

<p>
  <strong>Date:</strong>
  <%= @blog.date %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @blog.short_description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @blog.link %>
</p>

<p>
  <strong>Video link:</strong>
  <%= @blog.video_link %>
</p>

<%= link_to 'Edit', edit_admin_blog_path(@blog) %> 

