<%= form_for(@sub_menu) do |f| %>
  <% if @sub_menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_menu.errors.count, "error") %> prohibited this sub_menu from being saved:</h2>

      <ul>
      <% @sub_menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :main_menu_id %><br>
    <%= f.text_field :main_menu_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
