<!DOCTYPE html>
<html>
<head>
  <title>Count For Nature – WWF Canada</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="admin">
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
		<div id="admin--only">
			<div class="sidebar">
				<%= link_to "WWF Admin", admin_show_path, class: 'sidebar--header'%>
				<% if Header.first.present?%>
					<% @header = Header.first%>
					<%= link_to "header", edit_admin_header_path(@header), class: is_active?("admin/headers") %>
				<% end %>
				<%= link_to "blogs", admin_blogs_path, class: is_active?("admin/blogs") %>
				<%= link_to "calls to action", admin_stories_path, class: is_active?("admin/stories") %>
				<%= link_to "generic stories", admin_generic_stories_path, class: is_active?("admin/generic_stories") %>
				<%= link_to "menus", admin_main_menus_path, class: is_active?("admin/main_menus") %>
				<%= link_to "featured member", admin_featured_donors_path, class: is_active?("admin/featured_donors")%>
				<% if user_signed_in? %>
					<div class="sidebar--user">
						<span>Logged in as <strong><%= current_user.email %></strong></span>
				  	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
					</div>
				<% end %>
			</div>
			<div class="breadcrumb">
				<%= render_breadcrumbs :separator => '>' %>
			</div>
			<div class="admin--content">
				<%= yield %>
			</div>
		</div>
	</div>

	<script>
		setTimeout(function(){
		  $('#alert, .alert').remove();
		}, 1500);
	</script>

</body>
</html>







