<!DOCTYPE html>
<html>
<head>
  <title>Count For Nature – WWF Canada</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://localhost:8000/styleguide/assets/styles/structure.css">
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="admin">
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
		<div id="admin--only">
		<% if Header.first.present?%>
			<% @header = Header.first%>
			<div class="sidebar">
				<%= link_to admin_show_path, class: 'sidebar--header' do %>
					<%= @header.admin_lang(current_user) %>
				<% end %>
				<%= link_to edit_admin_header_path(@header), class: is_active?("admin/headers") do %>
					<%= @header.header_lang(current_user).downcase %>
				<% end %>
		<% end %>
				<%= link_to admin_blogs_path, class: is_active?("admin/blogs") do %>
					<%= @header.blog_lang(current_user).downcase %>
				<% end %>
				<%= link_to admin_fr_blogs_path, class: is_active?("admin/fr_blogs") do %>
					<%= current_user.preferred_language == 'en' ? 'french blogs' : 'blogues en francais' %>
				<% end %>
				<%= link_to admin_stories_path, class: is_active?("admin/stories") do %>
					<%= @header.calls_to_action_lang(current_user).downcase %>
				<% end %>
				<%= link_to admin_generic_stories_path, class: is_active?("admin/generic_stories") do %>
					<%= @header.generic_stories_lang(current_user).downcase %>
				<% end %>
				<%= link_to admin_main_menus_path, class: is_active?("admin/main_menus") do %>
					<%= @header.menu_lang(current_user).downcase %>
				<% end %>
				<%= link_to admin_featured_donors_path, class: is_active?("admin/featured_donors") do%>
					<%= @header.featured_member_lang(current_user).downcase %>
				<% end %>
				<% if user_signed_in? %>
					<div class="sidebar--user">
						<span><%= @header.logged_in_lang(current_user) %> <strong><%= link_to  edit_user_registration_path do %><%= current_user.email %><% end %></strong></span>
				  	<%= link_to destroy_user_session_path, method: :delete do %>
				  		<%= @header.logout_lang(current_user) %>
				  	<% end %>
					</div>
				<% end %>
			</div>
			<div class="breadcrumb">
				<%= render_breadcrumbs :separator => '>' %>
			</div>
			<div class="admin--content">
				<%= yield %>
			</div>
		</div>
	</div>

	<script>
		setTimeout(function(){
		  $('#alert, .alert').remove();
		}, 1500);
	</script>

</body>
</html>







