<!DOCTYPE html>
<html>
<head>
  <title>Count For Nature – WWF Canada</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="admin">
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
		<div id="admin--only">
			<div class="sidebar">
				<%= link_to "WWF Admin", admin_show_path, class: 'sidebar--header'%>
				<% if Header.first.present?%>
					<% @header = Header.first%>
					<%= link_to edit_admin_header_path(@header), class: is_active?("admin/headers") do %>
						<%= current_user.preferred_language == 'en' ? 'header' : 'fr header' %>
					<% end %>
				<% end %>
				<%= link_to admin_blogs_path, class: is_active?("admin/blogs") do %>
					<%= current_user.preferred_language == 'en' ? 'blogs' : 'blogues' %>
				<% end %>
				<%= link_to admin_fr_blogs_path, class: is_active?("admin/fr_blogs") do %>
					<%= current_user.preferred_language == 'en' ? 'french blogs' : 'blogues en francais' %>
				<% end %>
				<%= link_to admin_stories_path, class: is_active?("admin/stories") do %>
					<%= current_user.preferred_language == 'en' ? "calls to action" : "fr calls to action" %>
				<% end %>
				<%= link_to admin_generic_stories_path, class: is_active?("admin/generic_stories") do %>
					<%= current_user.preferred_language == 'en' ? "generic stories" : "fr generic stories" %>
				<% end %>
				<%= link_to admin_main_menus_path, class: is_active?("admin/main_menus") do %>
					<%= current_user.preferred_language == 'en' ? "menus" : "fr menus" %>
				<% end %>
				<%= link_to admin_featured_donors_path, class: is_active?("admin/featured_donors") do%>
					<%= current_user.preferred_language == 'en' ? "featured member" : "fr featured member" %>
				<% end %>
				<% if user_signed_in? %>
					<div class="sidebar--user">
						<span>Logged in as <strong><%= link_to  edit_user_registration_path do %><%= current_user.email %><% end %></strong></span>
				  	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
					</div>
				<% end %>
			</div>
			<div class="breadcrumb">
				<%= render_breadcrumbs :separator => '>' %>
			</div>
			<div class="admin--content">
				<%= yield %>
			</div>
		</div>
	</div>

	<script>
		setTimeout(function(){
		  $('#alert, .alert').remove();
		}, 1500);
	</script>

</body>
</html>







