<!DOCTYPE html>
<html>
<head>
  <title>Count For Nature – WWF Canada</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="How you can help WWF Canada fundraise, volunteer or attend events that are happening around you.">

  <%= favicon_link_tag 'wwf-favicon.png' %>

  <!-- for facebook -->
  <meta property="og:title" content="Count For Nature – WWF Canada" />
  <meta property="og:image" content="<%= asset_path('bg-image.jpg')%>" />

  <!-- for Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Count For Nature – WWF Canada" />
  <meta name="twitter:description" content="How you can help WWF Canada fundraise, volunteer or attend events that are happening around you." />
  <meta name="twitter:image" content="<%= asset_path('twitter-card-image.jpg')%>" />
</head>
<body>
  <!-- Google Tag Manager -->

  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WHS8JR"

  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

  })(window,document,'script','dataLayer','GTM-WHS8JR');</script>

  <!-- End Google Tag Manager -->

<%= yield %>

<script src="https://use.fontawesome.com/a796a7cacc.js"></script>
</body>
</html>
